### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [203]:
# Dependencies and Setup
import pandas as pd
import csv
import math
import numpy

# File to Load (Remember to Change These)
file_to_load = open("C:/Users/vasqu/PycharmProjects/jupyter_notebook/HerosOfPymoli/Resources/purchase_data.csv")
# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
pymoli_pd_df = purchase_data

In [204]:
##Checking for missing data points
pymoli_pd_df.isnull().any()

Purchase ID    False
SN             False
Age            False
Gender         False
Item ID        False
Item Name      False
Price          False
dtype: bool

In [205]:
#Display the total number of players
total_players = pd.DataFrame(pymoli_pd_df["SN"])
total_players = pd.DataFrame(total_players.count())
total_players = total_players.rename(columns={0:"Total Players"})
total_players.head()

    Total Players
SN            780

In [206]:
## of Players
plyr_count = pd.DataFrame(pd.unique(pymoli_pd_df["SN"]))
unique_plyr_count = pd.DataFrame(plyr_count.count())
unique_plyr_count = unique_plyr_count.rename(columns={0:"Unique Player Count"})
unique_plyr_count.head()

   Unique Player Count
0                  576

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [207]:
## Purchasing Analysis (Total)
# Unique items
unique_item_count = len(pd.value_counts(pymoli_pd_df["Item ID"]))
total_sales = sum(pymoli_pd_df["Price"])
total_num_purchases = len(pymoli_pd_df)

average_price = round(total_sales/total_num_purchases,2)
purchase_analysis_df = pd.DataFrame([{"Unique Item Count":unique_item_count, "Total Sales":total_sales, "Total # of Purchases":total_num_purchases, "Average Price":average_price}])
purchase_analysis_df["Average Price"] = purchase_analysis_df["Average Price"].map("${:.2f}".format)
purchase_analysis_df["Total Sales"] = purchase_analysis_df["Total Sales"].map("${:,.2f}".format)

purchase_analysis_df.head()


# Format currency with a dollar sign and 2 decimal places
#file_df["avg_cost"] = file_df["avg_cost"].map("${:.2f}".format)

# Format numeric content to utilize comma notation
#file_df["population"] = file_df["population"].map("{:,}".format)

# Round output to 2 decimal places
#file_df["other"] = file_df["other"].map("{:.2f}".format)
#file_df.head()

  Average Price  Total # of Purchases Total Sales  Unique Item Count
0         $3.05                   780   $2,379.77                183

In [214]:
#Parse out unique customer data from transactional data
d = dict(pd.DataFrame(pymoli_pd_df))
x = pd.DataFrame(pymoli_pd_df,pymoli_pd_df["SN"].drop_duplicates(keep="first").index)
customer_data = pd.DataFrame(x[["SN","Age","Gender"]])
transaction_data = pd.DataFrame(pymoli_pd_df)

#Determine counts per gender designation
gender_f_data = customer_data.loc[(customer_data["Gender"]=="Female")]
gender_m_data = customer_data.loc[(customer_data["Gender"]=="Male")]
gender_o_data = customer_data.loc[(customer_data["Gender"]=="Other / Non-Disclosed")]
gender_f_count = pd.Series(gender_f_data.Gender.count())
gender_m_count = pd.Series(gender_m_data.Gender.count())
gender_o_count = pd.Series(gender_o_data.Gender.count())

In [216]:
#capture numerator / denominator values for %'s'
per_female = gender_f_count/int(unique_plyr_count.values)
per_male = gender_m_count/int(unique_plyr_count.values)
per_o = gender_o_count/int(unique_plyr_count.values)
per_female = per_female.map("{:.2f}%".format)
per_male = per_male.map("{:.2f}%".format)
per_o = per_o.map("{:.2f}%".format)

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [217]:
player_dict = {"Percentage Male Players":per_male, "Percentage Female Players":per_female, "Percentage Non-Disclosed":per_o}

player_demo_df = pd.DataFrame(player_dict)
player_demo_df.head()

  Percentage Male Players Percentage Female Players Percentage Non-Disclosed
0                   0.84%                     0.14%                    0.02%

In [293]:
#Purchasing Analysis Gender

##Aggregated values

###Purchase Count
purchase_count = []
g = transaction_data.groupby("Gender")
for gender, purchase in g:
    purchase_count.append(purchase.Price.count())

    
###Average Purchase Price
avg_purchase_price = []    
for gender, purchase in g:
    avg_purchase_price.append(purchase.Price.mean())


###Total Purchase Value
total_purchase_val = []
for gender, purchase in g:
    total_purchase_val.append(purchase.Price.sum())

##Average Purchase Total per Person by Gender
avg_purchase_val_per_cust = []
for gender, SN in g:
    customer_count = g.SN.count()
     
avg_reciept = pd.DataFrame(total_purchase_val/customer_count)

#use dictionary comprehension to build final summary table
gp_dict = {"Purchase Count":[c for c in purchase_count], "Average Purchase Price":[c for c in avg_purchase_price], "Total Purchase Value":[c for c in  total_purchase_val]}
gp_labels = ["Female", "Male", "Non-Disclosed"]

#apply number formats
gender_purchase_df = pd.DataFrame(gp_dict, index=gp_labels)
gender_purchase_df["Average Purchase Price"] = gender_purchase_df["Average Purchase Price"].map("${:.2f}".format)
gender_purchase_df["Total Purchase Value"] = gender_purchase_df["Total Purchase Value"].map("${:,.2f}".format)

#calculate avg receipt value
avg_receipt = pd.DataFrame(total_purchase_val/customer_count)
avg_receipt["Total Average Price Per Customer"] = avg_receipt["SN"].map("${:,.2f}".format)
avg_receipt = avg_receipt.rename(index={"Female":"Female", "Male": "Male", "Other / Non-Disclosed": "Non-Disclosed"})
gender_purchase_df["Total Average Price Per Customer"] = avg_receipt["Total Average Price Per Customer"]
gender_purchase_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Total Average Price Per Customer
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Non-Disclosed,15,$3.35,$50.19,$4.56


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [317]:
#create bins for age groups on total and unique level
bins = [0, 9, 14, 19, 24, 29, 34, 39, 45]
age_labels = ["<10", "10-14", "15-19","20-24", "25-29","30-34","35-39", "40+"]
customer_data["Age Group"] = pd.cut(customer_data["Age"],bins= bins, labels=age_labels, include_lowest=True)


bins = [0, 9, 14, 19, 24, 29, 34, 39, 45]
age_labels = ["<10", "10-14", "15-19","20-24", "25-29","30-34","35-39", "40+"]
transaction_data["Age Group"] = pd.cut(transaction_data["Age"],bins= bins, labels=age_labels, include_lowest=True)


#Purchase Count
g = transaction_data.groupby("Age Group")
for customer, age in g:
    grp_ages_purchase_count = g.Price.count()

    
g = transaction_data.groupby("Age Group") 
    
#Average Purchase Price
for customer, age in g:
    grp_ages_avg_purchase_price = g.Price.mean()
    

#Total Purchase Value    
for customer, age in g:
    grp_ages_total_purchase_val = g.Price.sum()
       

#Average Purchase Total per Person by Age Group
g = customer_data.groupby("Age Group")
for gender, SN in g:
    grp_age_customer_count = g.SN.count()

###consolidate by customer 'SN' id and calculate mean Price

grp_age_dict = {"Purchase Count":[c for c in grp_ages_purchase_count], "Average Purchase Price":[c for c in grp_ages_avg_purchase_price], "Total Purchase Value":[c for c in  grp_ages_total_purchase_val]}
grp_age_labels = age_labels

grp_age_purchase_df = pd.DataFrame(grp_age_dict, index=grp_age_labels)
grp_age_purchase_df["Average Purchase Price"] = grp_age_purchase_df["Average Purchase Price"].map("${:,.2f}".format)
grp_age_purchase_df["Total Purchase Value"] = grp_age_purchase_df["Total Purchase Value"].map("${:,.2f}".format)


grp_age_avg_receipt = pd.DataFrame(grp_ages_total_purchase_val/grp_age_customer_count)
grp_age_avg_receipt["Total Average Price Per Customer"] = grp_age_avg_receipt[0].map("${:,.2f}".format)
avg_receipt = avg_receipt.rename(index={"Female":"Female", "Male": "Male", "Other / Non-Disclosed": "Non-Disclosed"})
grp_age_purchase_df["Total Average Price Per Customer"] = grp_age_avg_receipt["Total Average Price Per Customer"]
grp_age_purchase_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Total Average Price Per Customer
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

In [411]:
grp_spend = transaction_data.groupby(["SN"])

grp_spend_df = pd.DataFrame(grp_spend.sum())
top_spenders_df = pd.DataFrame(grp_spend_df.Price.nlargest(n=5))
top_spenders_df
spenders = top_spenders_df.axes

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [496]:
spender_transaction =pd.DataFrame(transaction_data.loc[(transaction_data["SN"]=='Lisosia93')|(transaction_data["SN"] =='Idastidru52')|(transaction_data["SN"] =='Chamjask73')|(transaction_data["SN"] =='Iral74')|(transaction_data["SN"] =='Iskadarya95'), ["SN","Price","Age", "Gender"]])
temp_col = []
temp_col = [1 for x in spender_transaction.values]
counter = temp_col
spender_transaction["counter"] = pd.Series(counter).values
spr_summary = spender_transaction.groupby("SN")
spender_summary = pd.DataFrame(spr_summary.sum())
spender_summary["Average Purchase Price"] = (spender_summary["Price"]/spender_summary["counter"])
top_stats = spender_summary.sort_values(ascending=False, by="Price")
top_stats["Price"] = top_stats["Price"].map("${:,.2f}".format)
top_stats["Average Purchase Price"] = top_stats["Average Purchase Price"].map("${:,.2f}".format)
top_stats = top_stats.rename(columns={"Price": "Total Purchase Value","counter": "Purchase Count"})
top_stats

            Total Purchase Value  Age  Purchase Count Average Purchase Price
SN
Lisosia93                 $18.96  125               5                  $3.79
Idastidru52               $15.45   96               4                  $3.86
Chamjask73                $13.83   66               3                  $4.61
Iral74                    $13.62   84               4                  $3.40
Iskadarya95               $13.10   60               3                  $4.37

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [495]:
item_id_check = transaction_data["Item ID"]
item_name_check = transaction_data["Item Name"]

item_id_unq = pd.DataFrame(item_id_check.unique())
item_name_unq = pd.DataFrame(item_name_check.unique())
#????? item id & item name list are uneven. Need to check for duplicated ID's
transaction_data_replace = transaction_data
transaction_data_replace["Item ID_fix"] = transaction_data["Gender"].replace({141:132, 180:30, 101:92,23:1})
temp_col = []
temp_col = [1 for x in transaction_data_replace.values]
counter = temp_col
transaction_data_replace["counter"] = pd.Series(counter).values
transaction_data_replace = dict(transaction_data_replace)
transaction_data_replace = pd.DataFrame(transaction_data_replace)

grp_items = transaction_data.groupby("Item Name", "Item ID")


###error not recognizing column name??!!

ValueError: No axis named Item ID for object type <class 'pandas.core.frame.DataFrame'>

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame